/* colors */
/* 
green secondary: rgba(79, 185, 187, 1)
 */
/* .qw {
  border: 1px, solid, red;
}
.as {
  border: 1px, solid, blue;
}
.zx {
  border: 1px, solid, green;
}
 */
html {
  /* 1rem = 10px */
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
}
.container {
  width: 100%;
  padding: 0 2rem;
  padding-bottom: 5rem;
}
p {
  font-size: 1.4rem;
}
img {
  width: 100%;
  height: 100%;
}

button {
  border: none;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.button-solid {
  background: rgba(79, 185, 187, 1);
  color: white;
}
.button-outline {
  background: white;
  border: 1px solid rgba(79, 185, 187, 1);
}
hr {
  border-top: 1px solid rgba(232, 234, 240, 1);
}
